body {
    background-color: rgb(223, 223, 223);
    margin: 0;
  }
  
  header {
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 10px 10px;
    text-align: center;
    padding: 2px;
  }
  
  .spacing {
    line-height: 0.3;
  }
  
  main {
    text-align: center;
  }
  
  main > div > article> section > img {
    border-radius: 5px;
    display: block;
    margin: 10px auto;
    height: 50%;
    width: 50%;
  }
  
  footer > div > nav > p {
  text-align: center;
  font-size: 18px;
  }
  
  footer {
    background-color: black;
    color:white;
    padding: 2px;
  }